<div class="welcome-page">
  <mat-card>
    <!-- Title -->
      <mat-card-title>Welcome to myFlix!</mat-card-title>
    <!-- Actions  -->
      <button 
        mat-raised-button 
        (click)="openUserRegistrationDialog()" 
        color="basic"
      >
        <mat-icon>portrait</mat-icon> Sign up
      </button>
      <button 
        mat-raised-button 
        (click)="openUserLoginDialog()"
        color="basic"
      >
        <mat-icon>login</mat-icon> Login
      </button>
  </mat-card>
</div>
