$cardColor: #111213;
$textColor: #fff;

.favBtn {
  color: $textColor;
}

button {
  color: $textColor;
}

.movieCards {
  padding: 20px;
}

.mcards {
  margin-right: auto;
  margin-left: auto;
}

.movie-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 5px;
}

img {
 max-height: 400px;
 min-height: auto;
}

mat-card {
  background-color: $cardColor;
  max-height: fit-content;
}

mat-card-title {
  padding-top: 10px;
  color: $textColor;
}

mat-card-subtitle {
  padding-top: 10px;
  color: $textColor;
}


