$cardColor: #111213;
$textColor: #fff;

.favBtn {
  color: $textColor;
}

button {
  color: $textColor;
}

.movieCards {
  padding: 20px;
}

img {
  min-height: 450px;
}

mat-card {
  background-color: $cardColor;
  min-height: 500px;
}

mat-card-title {
  padding-top: 10px;
  color: $textColor;
}

mat-card-subtitle {
  padding-top: 10px;
  color: $textColor;
}


