<app-navbar></app-navbar>

<div>
  <mat-card>
    <mat-card-header>
      <mat-card-title class="title">Profile</mat-card-title>
    </mat-card-header>
    <!-- User Profile -->
    <mat-card-content class="descriptionText">
      <p><b>Username:</b> {{ user.Username }}</p>
      <p><b>Email:</b> {{ user.Email }}</p>
      <p><b>Birthday:</b> {{ user.Birthday | date }}</p>
    </mat-card-content>
    <mat-card-actions>
      <!-- Edit user profile -->
      <button
        mat-raised-button
        (click)="openEditProfileDialog()"
        color="primary"
      > <mat-icon>edit</mat-icon> Edit Profile
      </button>
      <!-- Delete user profile -->
      <button 
        mat-raised-button 
        (click)="deleteAccount()" 
        color="warn"
      > <mat-icon>delete_forever</mat-icon> Delete acount
      </button>
    </mat-card-actions>
  </mat-card>
</div>
